.main_title {
  font-size: 50px;
}

.sub {
  font-size: 35px;
  margin: 0;
}

.page_title {
  font-size: 45px;
}

.caption{
  color:#8c8c8c;
}

.page_explanation {
  font-size: 20px;
}

.plain_text {
  font-size: 20px;
}

.highlighted {
  background-color: white;
}

.low_highlighted {
  background-color: #d6d6d6;
}

.highlight_text {
  color : black;
}

.expert_opinion {
  text-align:justify;
  text-justify: inter-word;
}

.slider_title {
  background-color: rgb(0, 0, 0, 0.5);
  color:rgb(255, 255, 255);
  width: auto;
  font-size: 25px;
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.angry_title {
  color:black;
}
.mbti_trait{
  font-size: 70px;
}

.mbti_row{
  margin-bottom:0;
}

.archetype{
  font-size: 40px;
  font-family: Helvetica;
}

.persona_margin{
  padding-top: 20px;
}

.bordering{
  background-color: #efefef;
}

.persona_border{
  border: 1px solid #04ceef;
}

.persona_leftm{
  padding-left: 20px;
}

.quote_size{
  font-size: 18px;
}

.persona_sub{
  font-size: 20px;
}

.persona_raw_text{
  font-size: 14px;
  font-family: Helvetica;
}
