.main_title {
  font-size: 50px;
}

.sub {
  font-size: 35px;
  margin: 0;
}

.page_title {
  font-size: 45px;
}

.page_explanation {
  font-size: 20px;
}

.plain_text {
  font-size: 20px;
}

.highlighted {
  background-color: white;
}

.low_highlighted {
  background-color: #d6d6d6;
}

.highlight_text {
  color : black;
}

.expert_opinion {
  text-align:justify;
  text-justify: inter-word;
}

.slider_title {
  color:white;
}

.angry_title {
  color:black;
}
.mbti_trait{
  font-size: 70px;
}

.mbti_row{
  margin-bottom:0;
}

.archetype{
  font-size: 40px;
  font-family: Helvetica;
}

.persona_margin{
  padding-top: 20px;
}

.persona_leftm{
  padding-left: 20px;
}

.quote_size{
  font-size: 18px;
}

.persona_sub{
  font-size: 20px;
}


.persona_raw_text{
  font-size: 14px;
  font-family: Helvetica;
}
